body {
	background-color: #7D966E;
}
#header {
    left: 33%;
    position: fixed;
    top: 0;
    width: 100%;
}
.sm {
    font-family: "Arial Unicode MS";
}
h2 {
	font-size:26pt;
    color: #000000;
}
h1{
	color: #7D966E;
	font-size:26pt;
}
#darkside{
	padding-top: 150px;
	padding-left: 10px;
	width: 48%;
	float: right;
	vertical-align: text-top;
}
#lightside{
	padding-top:150px;
	padding-right: 10px;
	width:48%;
	float:left;
	vertical-align:text-top;
	text-align:right;
}
#background {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #000000; 
    z-index:-1;
}
.green{
	color: #7D966E;

}